# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
db.sqlite3
media/
*.log

# --- NODE / REACT / VITE ---
node_modules/
dist/
dist-ssr/
*.local

# --- SISTEMA / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/